@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

.home,
.about {
  height: 100vh;
}

.lavori {
  height: 100%;
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

.hi {
  color: #37474F;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.hi strong {
  font-weight: 700;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
}

.header {
    position: relative;
    text-align: center;
}

.inner-header {
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
.content {
    position: relative;
    height: 10vh;
    text-align: center;
    background-color: #F2F2F2;
}
/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.lavori-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.lavori-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #FAFAFA;
  width: 70%;
  margin: 3%;
  height: 50%;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.lavori-card a {
  display: flex;
  flex-direction: row;
}

.lavori-content-bg {
  background: rgba(255,255,255,0.5);
  height: 100%;
}

.lavori-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #37474F;
  height: 100%;
  width: 70%;
  background: #FAFAFA;
  padding: 2%;
}

.lavori-content h4 {
  padding-top: 1%;
}

.lavori-content p {
  padding-top: 1%;
}

.lavoro-img-container {
  width: 30%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#lavoro1-img {
  background: url("../images/prova.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: 0.3s all ease-in-out;
}

#lavoro2-img {
  background: url("../images/prova2.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: 0.3s all ease-in-out;
}

.lavori-card:hover #lavoro1-img,
.lavori-card:hover #lavoro2-img {
  transform: scale(1.2);
}


.lavori-content h2 {
  font-weight: 700;
  text-align: center;
  background: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lavori-content h4 {
  font-weight: 300;
  text-align: center;
}

.lavori-content p {
  overflow: auto;
}

.row-about {
  height: 55vh;
  margin: 0 auto;
}

.prof-photo {
  margin: 15vh auto 5vh;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background: url("../images/prof.jpg") no-repeat center;
  background-size: cover;
}

.bio {
  width: 80%;
  margin: 0 auto 5vh;
  text-align: justify;
}

.col {
  height: 100vh;
}

.contatti-icons {
  display: flex;
  justify-content: center;
}

.contatti-icons img {
  margin: 0 2vw;
  width: 3vw;
  height: 3vw;
}

.dimmi-ciao {
  height: 55vh;
  margin: 25vh auto 20vh;
  background: #37474F;
}

.dimmi-ciao .h1-responsive {
  color: #EAEAEA;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10vh;
}

.dimmi-ciao a {
  margin: 2vh auto;
}

.form-ciao {
  margin-top: 5%;
  background: #37474F;
}

.form-ciao form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

.form-ciao label,
.form-ciao-row label {
  color: #F6D365;
  margin: 5px 0 0 4px;
  font-weight: 500;
}

.form-ciao input[type="text"],
.form-ciao input[type="email"],
.form-ciao textarea {
  background: #37474F;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 1%;
  padding: 8px;
  color: #F2F2F2;
  font-weight: 300;
  transition: 0.3s border-bottom ease-in-out;
}

::placeholder {
  color: #707070;
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #707070;
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
}

.form-ciao textarea {
  resize: none;
}

.form-ciao input:focus,
.form-ciao textarea:focus {
  outline: none;
  border-bottom: 1px solid #F6D365;
}

.btn-centered {
  margin: 5vh auto;
  width: 50%;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #F2F2F2;
  -webkit-box-shadow: 0 0 0 1000px rgba(55,71,79,1) inset !important
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #F2F2F2;
  -webkit-box-shadow: 0 0 0 1000px rgba(55,71,79,1) inset !important
}

.form-ciao-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-ciao-row {
  display: flex;
  flex-direction: column;
  width: 48%;
}

@media (max-width: 768px) {

    .bio,
    .lavori-content p {
      font-size: .8em;
    }

    .waves {
        height: 80px;
        min-height: 80px;
    }
    .content {
        height: 25vh;
    }

    .row-about {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 200vh;
    }
    .col {
      width: 100vw;
      height: 100vh;
    }

    .lavori-card a {
      display: flex;
      flex-direction: column;
    }

    .lavori-img-container {
      width: 100%;
      height: 30%;
    }

    .lavori-content p {
      font-size: 0.9rem;
    }

    .about {
      height: auto;
    }
    .bio-photo {
      width: 100%;
    }

    .contatti-icons img {
      margin: 0 6vw;
      width: 7vw;
      height: 7vw;
    }

    .ciao {
      position: relative;
      right: 0;
      bottom: 0;
    }

    .form-ciao {
      width: 100vw;
      position: absolute;
      left: 0;
      margin: 0 auto;

    }
}

@media (min-width: 992px) {
  .content {
    height: 20vh;
  }
}

@media (max-width: 600px) {
  .contatti-icons img {
    margin: 0 5vw;
    width: 10vw;
    height: 10vw;
  }

  .prof-photo {
    margin: 5vh auto;
}

@media (max-width: 430px) {
  .form-ciao-first {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form-ciao-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .btn-centered {
    width: 65%;
  }
}
